<h2>User Details</h2>
<div><span class="label">Id:</span> {{user.id}}</div>
<div><span class="label">Username:</span> {{user.username}}</div>
<div><span class="label">First Name:</span> {{user.firstName}}</div>
<div><span class="label">Last Name:</span> {{user.lastName}}</div>
<div><span class="label">Status:</span> {{user.status}}</div>
<button class="backButton" (click)="goBack()">Back</button>
