<input #searchBox id="user-search" />
<button class="searchButton" (click)="searchUsers(searchBox.value)">Go</button>
<ul class="users">
  <a *ngFor="let user of users" routerLink="/users/{{user.id}}">
    <li>
      <span>{{user.firstName}} {{user.lastName}}</span>
    </li>
  </a>
</ul>
