.users {
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em 0;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

a {
  text-decoration: none;
}
